.offer {
	padding: $mainPadding;
	&__title {
		margin: 0px 0px 73px 0px;
		@media (max-width: $l) {
			margin: 0px 0px 62px 0px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: 1110px) {
			justify-content: center;
		}
	}

	&__item {
		flex: 1 1 33.333%;
		margin: 0px 10px 30px 10px;
		@media (max-width: $x) {
			margin: 0px 10px 50px 10px;
		}
	}
	@media (max-width: $l) {
		padding: $mainPaddingMobile;
	}
}
.item-offer {
	&_services {
		max-width: 500px;
		padding: 0px 0px 13px 0px;
		background: #ffffff;
		box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.08);
		border-radius: 5px;
	}
	&_atv {
		max-width: 530px;
	}
	&__image {
		margin: 0px 0px 20px 0px;
		border-radius: 5px;
		position: relative;
		img {
			max-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: scroll;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
		&_services {
			p {
				font-weight: 600;
				text-shadow: none;
			}
		}
		p {
			max-width: 456px;
			text-align: center;
			color: #fff;
			font-size: 36px;
			line-height: 43px;
			font-weight: 700;
			margin: 0px 0px 60px 0px;
			&:last-child {
				margin: 0;
				font-size: 18px;
				line-height: 21px;
			}
			@media (max-width: $l) {
				font-size: 24px;
				line-height: 29px;
			}
			@media (max-width: $m) {
				font-size: 22px;
				line-height: 27px;
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 20px;
		font-weight: 500;
		font-size: 24px;
		line-height: 28.8px;
		&_services {
			font-size: 18px;
			line-height: 22px;
			color: #232323;
		}
		ul {
			li {
				margin: 0px 0px 9px 0px;
				&:last-child {
					margin: 0;
				}
			}
			@media (max-width: $l) {
				font-size: 18px;
				line-height: 21.6px;
			}
			@media (max-width: $m) {
				font-size: 16px;
				line-height: 21.6px;
			}
		}
	}
}
