.gallery {
	padding: $mainPadding;
	@media (max-width: $l) {
		padding: $mainPaddingMobile;
	}
	&__title {
		margin: 0px 0px 80px 0px;
	}

	&__slider-big {
		margin: 0px 0px 25px 0px;
	}

	&__slider-small {
	}
}

.slider-big {
	&__body {
	}

	&__item {
	}
}
.slider-small {
	&__body {
	}

	&__item {
	}
}
