.main-screen {
	padding: 100px 0px 50px 0px;
	min-height: 100vh;
	@media (max-width: $l) {
		padding: 139px 0px 75px 0px;
	}
	&_home {
		background: url("../img/main-screen/bg.jpg") 0 0 / cover no-repeat;
		display: flex;
	}
	&_technik {
		background: url("../img/main-screen/bg.jpg") 0 0 / cover no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&_category {
		background-color: #00247e;
	}
	&_route {
		background: url("../img/main-screen/bg.jpg") 0 0 / cover no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: $l) {
			padding: 139px 0px 60px 0px;
		}
	}
	&__title {
		margin: 0px 0px 75px 0px;
		color: #fff;
		font-size: 72px;
		font-weight: 600;
		line-height: 86px;
		text-align: center;
		@media (max-width: $l) {
			max-width: 262px;
			font-size: 48px;
			line-height: 58px;
			margin: 0 auto 25px;
		}
		&_align-left {
			text-align: left;
			@media (max-width: $l) {
				text-align: center;
			}
		}
		&_category {
			@media (max-width: $l) {
				max-width: 336px;
			}
		}
		&_technik {
			@media (max-width: $l) {
				max-width: 360px;
			}
		}
	}
}
