.offer {
	padding: $mainPadding;
	&__title {
		margin: 0px 0px 73px 0px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		flex: 1 1 50%;
		margin: 0px 10px 30px 10px;
		@media (max-width: 550px) {
			flex: 1 1 auto;
			margin: 0px 0px 30px 0px;
		}
		@media (max-width: $m) {
			margin: 0px 0px 40px 0px;
		}
	}
	@media (max-width: $l) {
		padding: $mainPaddingMobile;
	}
}
.item-offer {
	background-color: #fff;
	box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	position: relative;
	&_home {
		max-width: 500px;
		padding: 0px 0px 13px 0px;
		@media (max-width: $l) {
			flex: 1 1 auto;
		}
	}
	&_category {
		max-width: 530px;
		box-shadow: none;
		background-color: transparent;
	}
	&_technik {
		flex: 1 1 auto;
		max-width: 500px;
		padding: 0px 0px 30px 0px;
		margin-bottom: 25px;
	}
	&_route {
		max-width: 500px;
		border-radius: 5px 5px 0px 0px;
		padding: 0px 0px 35px 0px;
		margin-bottom: 25px;
		overflow: hidden;
		@media (max-width: $m) {
			max-width: 100%;
		}
	}
	&__image {
		margin: 0px 0px 20px 0px;
		border-radius: 5px;
		position: relative;
		&_category {
			padding: 0px 0px 74.3% 0px;
			@media (max-width: $m) {
				padding: 0px 0px 84.6% 0px;
			}
		}
		&_home {
			padding: 0px 0px 52.8% 0px;
			@media (max-width: $m) {
				padding: 0px 0px 60.2% 0px;
			}
		}
		&_route {
			padding: 0px 0px 56.4% 0px;
			@media (max-width: $m) {
				padding: 0px 0px 60.2% 0px;
			}
		}
		&_technik {
			padding: 0px 0px 47.8% 0px;
			margin: 0px 0px 30px 0px;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__title {
		color: #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: scroll;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
		h3 {
			max-width: 456px;
			text-align: center;
			font-size: 36px;
			line-height: 43px;
			font-weight: 700;
		}
		p {
			margin: 60px 0px 0px 0px;
			font-size: 18px;
			line-height: 21px;
		}
		@media (max-width: $m) {
			font-size: 22px;
			line-height: 27px;
		}
		&_home {
			h3 {
				font-weight: 600;
				text-shadow: none;
				@media (max-width: $l) {
					font-size: 24px;
					line-height: 29px;
				}
			}
		}
		&_category {
			h3 {
				font-weight: 600;
				text-shadow: none;
				@media (max-width: $l) {
					font-size: 24px;
					line-height: 29px;
				}
			}
			p {
				margin: 100px 0px 0px 0px;
			}
		}
		&_technik {
			h3 {
				font-weight: 600;
				text-shadow: none;
			}
			p {
				margin: 30px 0px 0px 0px;
				font-size: 24px;
				line-height: 28px;
			}
		}
	}
	&__description {
		margin: 0px 25px 30px;
		padding: 0px 0px 70px 0px;
		border-bottom: 1px solid rgba(35, 35, 35, 0.1);
		position: relative;
		@media (max-width: $m) {
			margin: 0px 25px 8px;
		}
		&_technik {
			padding: 0px 0px 70px 0px;
		}
		ul {
			font-size: 18px;
			line-height: 22px;
			li {
				margin: 0px 0px 23px 0px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		padding: 0px 20px;
		color: #232323;
		font-weight: 500;
		font-size: 24px;
		line-height: 28.8px;
		ul {
			li {
				margin: 0px 0px 9px 0px;
				&:last-child {
					margin: 0;
				}
			}
			@media (max-width: $l) {
				font-size: 18px;
				line-height: 21.6px;
			}
			@media (max-width: $m) {
				font-size: 16px;
				line-height: 21.6px;
			}
		}
		&_home {
			align-items: center;
			font-size: 18px;
			line-height: 22px;
		}
		&_technik {
			align-items: center;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
		}
		&_route {
			flex-direction: column;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
		}
	}
	&__list-route {
		display: flex;
		justify-content: space-between;
		padding: 0px 10px;
		margin: 10px 0px 30px 0px;
	}
	&__button {
		&_description {
			position: absolute;
			top: 0;
			right: 0;
			@media (max-width: $m) {
				top: 150px;
			}
		}
		&_route {
			max-width: 150px;
			margin: 0 auto;
		}
	}
}
