.route-description {
	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		li {
			margin: 10px;
			flex: 1 1 auto;
			min-width: 295px;
			height: 183px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: 36px;
			font-weight: 700;
			line-height: 43px;
			background-color: rgba(0, 36, 126, 0.5);
			@media (max-width: $l) {
				max-width: 295px;
			}
		}
	}
}
