.services {
	padding: $mainPadding;
	&__title {
		margin: 0px 0px 80px 0px;
		@media (max-width: $l) {
			margin: 0px 0px 50px 0px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -10px;
		@media (max-width: $l) {
			justify-content: center;
			align-items: center;
		}
	}

	&__column {
		padding: 0px 10px;
		display: flex;
		flex: 0 1 33.333%;
		@media (max-width: $l) {
			flex: 1 1 100%;
			margin: 0px 0px 30px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&__card {
	}
	@media (max-width: $l) {
		padding: $mainPadding;
	}
}
.card-services {
	width: 100%;
	padding: 45px 10px 35px;
	background-color: #fff;
	box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	text-align: center;
	display: flex;
	flex-direction: column;
	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 24px;
		font-weight: 600;
		line-height: 29px;
		text-align: center;
		flex: 1 1 100%;
	}
	&__text {
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		margin: 0px 0px 55px 0px;
		p {
			display: inline-block;
			max-width: 220px;
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&__list {
		font-size: 14px;
		line-height: 16px;
		margin: 0px 0px 40px 0px;
		li {
			margin: 0px 0px 20px 0px;
		}
	}
	&__link {
		color: #00247e;
		font-size: 18px;
		line-height: 21px;
		text-decoration: underline;
	}
	@media (max-width: $l) {
		max-width: 340px;
		margin: 0 auto;
	}
	@media (min-width: 1023px) and (max-height: 1366px) {
		&:hover {
			background-color: $mainColor;
			.card-services__title,
			.card-services__text,
			.card-services__link,
			.card-services__list {
				color: #fff;
			}
		}
	}
}
